
/* style highcharts */
.highcharts-candlestick-series .highcharts-point {
    stroke: #E94D5E;
    fill: #E94D5E;
}
.highcharts-candlestick-series .highcharts-point-up {
    stroke: #57B788;
    fill: #57B788;
}