*{ border: 0; margin:0; padding: 0;}
html, body{ height: 100%; }

.btn{
    cursor: pointer;
}
.redText, .redText div {
    color: red !important;
}
.greenText, .greenText div {
    color: green !important;
}
.limeText, .limeText div {
    color: limegreen !important;
}
.blueText, .blueText div{
    color: blue !important;
}
.blackText, .blackText div{
    color: black !important;
}
.boldText, .boldText div{
    font-weight: bold;
}

.textAlignCenter{
    text-align: center;
}
.inputCount input{
    color: black !important;
}
.noBorder {
    border: 0 !important;
}

.pointer{
    cursor: pointer !important;
}




/* ViewMain.less */
.ViewMain__trade-panel{
    border-left: 1px solid #0008ff !important;
    background-color: #020021 !important;
}
.ViewMain__trade-panel *{
    color: white;
}
.ViewMain__header-table * {
    font-size: 17px;
}
.ViewMain__table-last-5-operations {
    background-color: transparent !important;
    border: 0 !important;
}
.ViewMain__table-last-5-operations *{
    font-size: 12px !important;
    background-color: transparent !important;
    border: 0 !important;
}


/* modalFixed.js */
.WidgetModalFixed__title div{
    font-size: 17px;
    font-weight: bold;
}





/* ModalStatistics.less */
.ModalStatistics__label-header div{
    font-size: 18px;
}

.ModalStatistics__header div{
    font-weight: bold;
    font-size: 20px;
    padding-left: 27px;
}
.ModalStatistics__button-open-trade-chart{
    height: 30px;
    line-height: 30px;
}


/* ModalWait.less */
.ModalWait__message > *{
    text-align: center;
    padding: 25px 25px 0 !important;
    color: #2994DA;
    font-size: 20px;
    font-weight: 100 !important;
}
.ModalWait > *{
    border-width: 0 !important;
}

.ModalWait__img-container{
    text-align: center;
}
.ModalWait__img{
    width: 100px;
    border: 0 !important;

    -webkit-animation: preloader 1.5s infinite linear;
    -moz-animation: preloader 1.5s infinite linear;
    -ms-animation: preloader 1.5s infinite linear;
    -o-animation: preloader 1.5s infinite linear;
    animation: preloader 1.5s infinite linear;
}

@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
    to { transform: rotate(360deg); }
}