.ModalStatistics{
    &__label-header div{
        font-size: 18px;
    }

    &__header div{
        font-weight: bold;
        font-size: 20px;
        padding-left: 27px;
    }
    &__button-open-trade-chart{
        height: 30px;
        line-height: 30px;
    }

}