.ModalWait{
    & > *{
        border-width: 0 !important;
    }


    &__message > *{
        text-align: center;
        padding: 25px 25px 0 !important;
        color: #2994DA;
        font-size: 20px;
        font-weight: 100 !important;
    }

    &__img{
        &-container{
            text-align: center;
        }

        width: 100px;
        border: 0 !important;

        -webkit-animation: preloader 1.5s infinite linear;
        -moz-animation: preloader 1.5s infinite linear;
        -ms-animation: preloader 1.5s infinite linear;
        -o-animation: preloader 1.5s infinite linear;
        animation: preloader 1.5s infinite linear;
    }
}


@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
    to { transform: rotate(360deg); }
}