.ViewMain{
  &__trade-panel{
    & * {
      color: white;
    }
    border-left: 1px solid #0008ff !important;
    background-color: #020021 !important;
  }


  &__header-table * {
    font-size: 17px;
  }

  &__table-last-5-operations{
    & *{
        font-size: 12px !important;
        background-color: transparent !important;
        border: 0 !important;
    }
    background-color: transparent !important;
    border: 0 !important;
  }
}